<!DOCTYPE HTML>
<html>
<head>
    <title>用户信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>


    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>

    <!-- ace styles -->

    <!--<link rel="stylesheet" href="/static/css/ace.min.css"/>-->
    <!--<link rel="stylesheet" href="/static/css/ace-rtl.min.css"/>-->
    <!--<link rel="stylesheet" href="/static/css/ace-skins.min.css"/>-->


    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/static/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% load static %}
    <!--<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>-->
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{% static 'css/icon-font.min.css' %}" type='text/css'/>
    <!-- //lined-icons -->

    <!--bootstraptab-->
    <!-- 引入bootstrap样式 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrap-table样式 -->
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- bootstrap-table.min.js -->
    <script src="/static/js/bootstrap-table.min.js"></script>
    <!-- 引入中文语言包 -->
    <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/index.js"></script>
    <!--引入EChart-->
    <script src="/static/js/echarts.common.min.js"></script>
    {#    <!--行内修改组件-->#}
    {##}
    {#    <link href="/static/css/bootstrap-editable.css" rel="stylesheet"/>#}
    {#    <script src="/static/js/bootstrap-editable.js"></script>#}
    {#    <script src="/static/js/bootstrap-table-editable.js"></script>#}
    <style>
        .pie{
            width: 350px;
            height: 350px;
        }
        .scatter{
            width: 700px;
            height: 200px;
            float: left;
        }
    </style>


</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!-- top_bg -->
                <div class="top_bg">

                    <div class="header_top">
                        <div class="top_left" style="margin-bottom:1% ">
                            <h2><span></span> Call us : 帅气无敌的开发小组</h2>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <!-- /top_bg -->
            </div>
            <!--header_bg-->
            <div class="header_bg">
                <div class="header">
                    <div class="head-t">
                        <div class="logo">
                            <a href="/index"><img src="{% static 'img/logo.png' %}" class="img-responsive" alt=""> </a>
                        </div>
                        <!-- start header_right -->
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!--/header_bg-->
            <!--content-->
            <div id="content" style="height:500px">
                <script type="text/javascript">
                    try {
                        ace.settings.check('main-container', 'fixed')
                    } catch (e) {
                    }
                </script>

                <div class="main-container-inner">
                    <a class="menu-toggler" id="menu-toggler" href="#">
                        <span class="menu-text"></span>
                    </a>


                    <div class="page-content" style="width: 98%;float: right">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                查询条件
                            </div>
                            <div class="panel-body form-group" style="margin-bottom:0px;">
                                <label class="col-sm-1 control-label"
                                       style="text-align: right; margin-top:5px">IP</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="Name" id="search_name"/>
                                </div>
                                <label class="col-sm-1 control-label"
                                       style="text-align: right; margin-top:5px">主题</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="Name" id="search_tel"/>
                                </div>
                                <div class="col-sm-1 col-sm-offset-4">
                                    <button class="btn btn-primary" id="search_btn">查询</button>
                                </div>
                            </div>
                        </div>
                        <table id="mytab" class="table table-hover" style="table-layout:fixed!important;"></table>
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->


            </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu">
                <li><a href="../index/"><i class="lnr lnr-cloud-upload"></i> <span>文件上传</span></a></li>
                <li id="menu-academico" ><a href="/Task"><i class="lnr lnr-layers"></i> <span>QA对生成</span></a></li>
                <li id="menu-academico"><a href="/QAManage"><i class="fa fa-table"></i>
                    <span> QA对管理</span></a>
                </li>
                <li><a href="http://47.97.209.48:5601" target="_blank"><i class="lnr lnr-chart-bars"></i>
                    <span>数据可视化</span> </a>
                </li>
                <li><a href="/userMining"><i class="lnr lnr-user"></i>
                    <span>用户信息</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--用户画像列表Modal-->
<div class="modal fade" id="userGraphList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">用户画像</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary save" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>
<!--用户画像Modal-->
<div class="modal fade" id="userGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">IP</h4>
            </div>
            <div class="modal-body">
                <h4>最感兴趣的主题为：</h4>
                <div id="Pie1" class="pie" style="float: left;"></div>
                <div id="Pie2" class="pie" style="float: right"></div>
                <div id="Scatter" class="scatter"></div>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    //根据窗口调整表格高度
    $(window).resize(function () {
        $('#mytab').bootstrapTable('resetView', {
            height: tableHeight()
        })

    });
    function initTable(urll) {

        $("#mytab").bootstrapTable('destroy');
        //生成用户数据
        $('#mytab').bootstrapTable({
            method: 'post',
            contentType: "application/x-www-form-urlencoded",//必须要有！！！！
            url: urll,//要请求数据的文件路径
            dataType: "json",
            height: tableHeight(),//高度调整
            toolbar: '#toolbar',//指定工具栏
            striped: true, //是否显示行间隔色
            dataField: "data",//bootstrap table 可以前端分页也可以后端分页，这里
            //我们使用的是后端分页，后端分页时需返回含有total：总记录数,这个键值好像是固定的
            //rows： 记录集合 键值可以修改  dataField 自己定义成自己想要的就好
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true,//是否分页
            queryParamsType: 'limit',//查询参数组织方式
            queryParams: function queryParams(params) { //设置查询参数
                var param = {
                    pageSize: params.limit, //每一页的数据行数，默认是上面设置的10(pageSize)
                    pageIndex: params.offset / params.limit + 1, //当前页面,默认是上面设置的1(pageNumber)
                    search_id:$("#search_name").val(),
                    search_sub:$("#search_tel").val()
                };
                return param;
            },//请求服务器时所传的参数
            sidePagination: 'server',//指定服务器端分页
            pageSize: 10,//单页记录数
            pageList: [5, 10, 20, 30],//分页步进值
            showRefresh: true,//刷新按钮
            showColumns: true,
            clickToSelect: true,//是否启用点击选中行
            toolbarAlign: 'right',//工具栏对齐方式
            buttonsAlign: 'right',//按钮对齐方式
            toolbar: '#toolbar',//指定工作栏
            columns: [
                /*{
                    title: '全选',
                    field: 'select',
                    //复选框
                    checkbox: true,
                    width: 25,
                    align: 'center',
                    valign: 'middle',

                },*/
                {
                    title: 'IP',
                    field: 'userip',
                    visible: true,
                    formatter: iplink //添加超链接的方法

                },
                {
                    title: '用户问题',
                    field: 'userquestion',
                    sortable: true,
                },
                {
                    title: '主题',
                    field: 'usersub',
                    sortable: true
                },
                {
                    title: '用户倾向',
                    field: 'userattention'
                },
                {
                    title: '是否收藏',
                    field: 'usercollect',

                    /*style:'word-wrap:break-word;'*/
                },
                {
                    title: '喜爱程度',
                    field: 'userlike',

                    /*style:'word-wrap:break-word;'*/
                },
                {
                    title: '提问时间',
                    field: 'times'
                    /*style:'word-wrap:break-word;'*/
                }
            ],
            locale: 'zh-CN',//中文支持,
            responseHandler: function (res) {
                //如果没有错误则返回数据，渲染表格
                console.log(res);
                return {
                    total: res.total, //总页数,前面的key必须为"total"
                    data: res.rows //行数据，前面的key要与之前设置的dataField的值一致.
                };
            },
        });


    }
    $(document).ready(function () {
        initTable("/search_users_all/");
    });


    //查询按钮事件
    $('#search_btn').click(function () {
        initTable("/searchuser/");
        // console.log($("#search_name").val());
        // var search_key = {};
        // search_key["search_id"] =$("#search_name").val();
        // search_key["search_question"] = $("#search_tel").val();
        // $("#mytab").bootstrapTable('refresh',{url: '/search/',data:{'searchkey':JSON.stringify(search_key)}});
        // $.ajax({
        //     type: "post",
        //     url:"/search/",
        //     dataType:'json',
        //     data:{searchkey:JSON.stringify(search_key)},
        //     success:function (data) {
        //         $("#mytab").bootstrapTable('destroy');
        //         $("#mytab").bootstrapTable('load',msg);
        //
        //        $("#mytab").bootstrapTable('refresh',{url: '/search/',data:{searchkey:JSON.stringify(search_key)}});
        //         //initTable("/search/");
        //         //$('#mytab').bootstrapTable('refresh', {url: '../index.php/admin/index/userManagement'});
        //     }
        //
        // })
    });

    //tableHeight函数
    function tableHeight() {
        //可以根据自己页面情况进行调整
        return $(window).height() - 200;
    }

    function iplink(value, row, index) {
        return [
            '<a href="/userGrah/?userip='+ value +'">' + value + '</a>'
        ].join("")
    }

    // /userGrah/?userip='+ value +'
    {#function singleip(ip) {#}
    {#    // console.log(ip);#}
    {#    // 发送请求到userGraph#}
    {#    $.ajax({#}
    {#        url: '/singleuser/',#}
    {#        type: "POST",#}
    {#        data: {userip: ip},#}
    {#        success: function (data) {#}
    {#        },#}
    {#        error: function (data) {#}
    {#            console.log(data)#}
    {#        }#}
    {#    });#}
    {#}#}

</script>
<script>
  /*  $("#search_btn").click(function () {
        $(this).attr({
            "data-target":"#userGraph",
            "data-toggle":"modal"
        })
    })*/
</script>
<!--初始化表格-->
<script>
    $("#search_btn").click(function () {
        var Pie1 = echarts.init(document.getElementById("Pie1"));
        option1 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                type:'scroll',
                orient: 'vertical',
                x: 'right',
                data:['主题一','主题二','主题三','主题四','其他'],
            },
            series: [
                {
                    name:'主题',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:335, name:'主题一'},
                        {value:310, name:'主题二'},
                        {value:234, name:'主题三'},
                        {value:135, name:'主题四'},
                        {value:1548, name:'其他'}
                    ]
                }
            ]
        };
        Pie1.setOption(option1);
        console.log(document.getElementById("Pie2").nodeName);
        var Pie2 = echarts.init(document.getElementById("Pie2"));
        option2 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:['闲聊','提问']
            },
            series: [
                {
                    name:'主题',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:335, name:'闲聊'},
                        {value:310, name:'提问'}
                    ]
                }
            ]
        };
        Pie2.setOption(option2);
        var scatter = echarts.init(document.getElementById("Scatter"));
        var data = ["周一","周二","周三","周四","周五","周六","周日"];
        scatteroption = {
            xAxis: {data:data},
            yAxis: {},
            legend: {
                right: 10,
                data: ['近一个月']
            },
            series: [{
                name:"近一个月",
                symbolSize: 20,
                data: [
                    [10.0, 8.04],
                    [8.0, 6.95],
                    [13.0, 7.58],
                    [9.0, 8.81],
                    [11.0, 8.33],
                    [14.0, 9.96],
                    [6.0, 7.24],
                    [4.0, 4.26],
                    [12.0, 10.84],
                    [7.0, 4.82],
                    [5.0, 5.68]
                ],
                type: 'scatter'
            }]
        };
        scatter.setOption(scatteroption);
        //给legend添加点击事件
        scatter.on('legendselectchanged', function(obj) {
            var selected = obj.selected;
            var legend = obj.name;

            // 使用 legendToggleSelect Action 会重新触发 legendselectchanged Event，导致本函数重复运行
            // 使得 无 selected 对象
            if (selected != undefined) {
                console.log(legend)
            }
        });

    })


</script>
</html>