<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/static/css/icon-font.min.css" type='text/css' />
<!-- <script src="/static/js/amcharts.js"></script>
<script src="/static/js/serial.js"></script>
<script src="/static/js/light.js"></script>	 -->
<!-- //lined-icons -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<!--聊天插件-->
<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
<link rel="stylesheet" type="text/css" href="/static/css/chat.css">
<!--链表插件-->
<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jq22-demo.css">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="/static/css/liststyle.css">

<style>
.left-content{
	width: 100%;
}
</style>
</head>
<body>
   <div class="page-container">
   <!--/content-inner-->
		<!-- header-starts -->
			<div class="header-section">
			<!-- top_bg -->
						<div class="top_bg">

								<div class="header_top">
									<div class="top_right">
										<ul>
											<li><a href="contact.html">help</a></li>|
											<li><a href="#" onclick="login()">LOGIN</a></li>|
											<li><a href="register.html">REGISTER</a></li>
										</ul>
									</div>
									<div class="top_left">
										<h2><span></span> 联系我们：帅气无敌的开发小组</h2>
									</div>
										<div class="clearfix"> </div>
								</div>

						</div>
					<div class="clearfix"></div>
				<!-- /top_bg -->
            </div>
				<!--content-->

		<div class="leaderboard">
		  <h1>
		    <svg class="ico-cup">
		      <use xlink:href="#cup"></use>
		    </svg>
		    用户常见问题：
		  </h1>
		  <ol>
		    <li onclick = 'mayask(this)'>
		      <mark></mark>
		      <small></small>
		    </li>
		    <li onclick = 'mayask(this)'>
		      <mark></mark>
		      <small></small>
		    </li>
		    <li onclick = 'mayask(this)'>
		      <mark></mark>
		      <small></small>
		    </li>
		    <li onclick = 'mayask(this)'>
		      <mark></mark>
		      <small></small>
		    </li>
		    <li onclick = 'mayask(this)'>
		      <mark></mark>
		      <small></small>
		    </li>
		  </ol>
		</div>
            <div class="chatContainer">
                           <div class="chatBox" ref="chatBox">
                            <div class="chatBox-head">
                                <div class="chatBox-head-two">
                                    <div class="chat-people">
                                        <div class="ChatInfoHead">
                                            <img src="/static/img/head_portrait.png" alt="头像"/>
                                        </div>
                                        <div class="ChatInfoName">QAQ问答机器人</div>
                                    </div>
                                </div>
                            </div>
                            <div class="chatBox-info">
                                <div class="chatBox-kuang" ref="chatBoxkuang">
                                    <div class="chatBox-content">
                                        <div class="chatBox-content-demo" id="chatBox-content-demo">

                                            <div class="clearfloat">
                                                <div class="author-name">
                                                    <small class="chat-date"></small>
                                                </div>
                                                <div class="left">
                                                    <div class="chat-avatars"><img src="/static/img/head_portrait.png" alt="头像"/></div>
                                                    <div class="chat-message">
                                                        您可以向我提问任何您想要问的问题=^_^=
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="left">
                                                    <div class="chat-avatars"><img src="/static/img/head_portrait.png" alt="头像"/></div>
                                                    <div class="chat-message">
                                                        聊天也是可以的哦( ^___^ )y
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="msg_end" style="height:0px; overflow:hidden"></div>
                                    </div>
                                    <div class="list-group" style="display: none;z-index: 2500;">
                                        <a href="#" class="list-group-item list-group-item-action">QAQ</a>
                                        <a href="#" class="list-group-item list-group-item-action">QBQ</a>
                                        <a href="#" class="list-group-item list-group-item-action">QCQ</a>
                                        <a href="#" class="list-group-item list-group-item-action">QDQ</a>
                                        <a href="#" class="list-group-item list-group-item-action">QEQ</a>
                                    </div>
                                  <div class="chatBox-send">

                                        <div class="div-textarea" contenteditable="true"></div>
                                        <div style="margin-left: 1%;margin-top: 0.5%">
                                            <button id="chat-biaoqing" class="btn-default-styles">
                                                <i class="iconfont icon-biaoqing"></i>
                                            </button>
                                            <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                                                <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                                       name="file" id="inputImage" class="hidden">
                                                <i class="iconfont icon-tuxiang"></i>
                                            </label>
                                            <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                                            </button>
                                        </div>
                                        <div class="biaoqing-photo">
                                            <ul>
                                                <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                                                </li>
                                                <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                                                </li>
                                                <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                                                </li>
                                                <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                                                <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                                                </li>
                                                <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                                                </li>
                                                <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                                                </li>
                                            </ul>
                                        </div>
                                  </div>
                                    </div>
                                </div>
                        </div>
       </div>
       <div class="Chat2" style="position: absolute;top: 10%;">
           <img src="/static/img/user_right_logo.png">
       </div>
</div>
			<!--/sidebar-menu-->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script>
        $(window).load(function () {
            var nowtime = new Date().format("yyyy-MM-dd hh:mm:ss");
            $(".chat-date").html(nowtime);
            //设定左下角对话框自适应
            var winWidth = $(window).innerWidth();
            var winHeight = $(window).innerHeight();
            $(".leaderboard").find("li").css("padding-top",(28/653)*winHeight)
            $(".leaderboard").find("li").css("padding-bottom",(20/653)*winHeight)
            $(".leaderboard").find("li").css("padding-right",(10/1280)*winWidth)
            $(".leaderboard").find("li").css("padding-left",(50/1280)*winWidth)
            $(".leaderboard").css("top",(400/653)*winHeight)
            $(".Chat2>img").css("left",(4/1280)*winWidth)
            $(".Chat2>img").css("height",(184/653)*winHeight)
            //设定输入框自适应
            var sendboxWidth = $(".chatBox-send").width()
            var sendboxHeight = $(".chatBox-send").height()
            console.log(sendboxHeight)
            console.log(sendboxWidth)
            $(".div-textarea").css("width",sendboxWidth-95)
            $(".div-textarea").css("height",sendboxHeight)

        });
    Date.prototype.format = function(fmt) {
         var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
                fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
         for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                 fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
             }
         }
        return fmt;
    }

        screenFuc();
        function screenFuc() {
            var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
            //屏幕小于768px时候,布局change
            var winWidth = $(window).innerWidth();
            if (winWidth <= 768) {
                var totalHeight = $(window).height(); //页面整体高度
                $(".chatBox-info").css("height", totalHeight - topHeight);
                var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
                //中间内容高度
                $(".chatBox-content").css("height", infoHeight - 46);
                $(".chatBox-content-demo").css("height", infoHeight - 46);

                $(".chatBox-list").css("height", totalHeight - topHeight);
                $(".chatBox-kuang").css("height", totalHeight - topHeight);
                $(".div-textarea").css("width", winWidth - 106);
            } else {
                $(".chatBox-info").css("height", "87%");
                $(".chatBox-content").css("height", "92%");
                $(".chatBox-content-demo").css("height", "98%");
                $(".chatBox-list").css("height", 495);
                $(".chatBox-kuang").css("height", "100%");
                $(".div-textarea").css("width", "85%");
            }
        }
        (window.onresize = function () {
            screenFuc();
        })();
        //未读信息数量为空时
        var totalNum = $(".chat-message-num").html();
        if (totalNum == "") {
            $(".chat-message-num").css("padding", 0);
        }
        $(".message-num").each(function () {
            var wdNum = $(this).html();
            if (wdNum == "") {
                $(this).css("padding", 0);
            }
        });



        //发送信息
        $("#chat-fasong").click(function () {
            var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
            var time1 = new Date().format("yyyy-MM-dd hh:mm:ss");

            /*if(textContent == '你好' || textContent == 'QAQ' || textContent == '很棒' || textContent == '很差劲'){
                //alert(textContent);
                $.ajax(
                    {
                        url: '/chat/',
                        type: "POST",
                        data: {enter_Question: textContent},
                        success: function (data) {
                            //data = JSON.parse(data);

                            $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                + time1 +
                                "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>"
                                + data +
                                "</div></div></div>").appendTo($("#chatBox-content-demo"));

                        }
                    });


            }else{

            }*/
            $.ajax(
                {
                    url: '/enter_search/',
                    type: "POST",
                    data: {enter_Question: textContent},
                    success: function (data) {
                        data = JSON.parse(data);
                        var isclear = data["isclear"];
                        if (isclear == 1 || isclear == 3) {
                            $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                + time1 +
                                "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>"
                                + data["answer"] +
                                "</div></div></div>").appendTo($("#chatBox-content-demo"));

                            // 如果值返回了一个精确的答案，那么说明用户的问题可以被记录进数据库中
                            // 存入数据库
                            /*$.ajax({
                                url: '/userQuestion/',
                                type: "POST",
                                data: {userQuestion: textContent},
                                success: function (data) {
                                    console.log('存入数据库成功')
                                },
                                error: function (data) {
                                    console.log('存入数据库失败')
                                }
                            });*/

                            //推荐提问，你可能想问的是
                            $.ajax({
                                url: '/further_search/',
                                type: "POST",
                                data: {accurate_Question: textContent},
                                success: function (data) {
                                    data = JSON.parse(data);
                                    if (data != '') {
                                        $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                            + time1 +
                                            "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>您可能还对以下的问题感兴趣：<br></br><div class='maylist' id='"
                                            + time1.toString()
                                            + "'></div></div></div></div></div>").appendTo($("#chatBox-content-demo"));

                                        console.log(data.length);
                                        for (var i = 0; i < 5; i++) {
                                            var akey = ("question" + i).toString();
                                            console.log(data[akey]);
                                            $("<a onclick='beginImg(this)'>"
                                                + data[akey] +
                                                "</a><br></br>").appendTo(document.getElementById(time1.toString()))

                                        }
                                        $("<p> 如果您都不感兴趣的话，可以重新搜索哦！ </p>").appendTo(document.getElementById(time1.toString()));
                                    }
                                },
                                error: function (data) {
                                    console.log(data)
                                }
                            });

                        }
                        else if(isclear == 4){
                            $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                + time1 +
                                "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>"
                                + data["answer"] +
                                "</div></div></div>").appendTo($("#chatBox-content-demo"));
                        }
                        else {
                            $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                + time1 +
                                "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>您是想问下面的某个问题嘛∩︿∩？<br></br><div class='maylist' id='"
                                + time1.toString()
                                + "'></div></div></div></div></div>").appendTo($("#chatBox-content-demo"));
                            for (var i = 0; i < 5; i++) {
                                var akey = ("question" + i).toString();
                                //a标签中的样式解决自动换行文字重叠问题
                                $("<a onclick='beginImg(this)' style='WORD-BREAK: break-all; WORD-WRAP: break-word;line-height:120%;'>" + data[akey] + "</a><br></br>").appendTo(document.getElementById(time1.toString()))

                            }
                        }


                    },
                    error: function (data) {
                        console.log(data)

                    }
        });




            if (textContent != "") {
                $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                    "<div class=\"author-name\"><small class=\"chat-date\">"+time1+"</small> </div> " +
                    "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                    "<div class=\"chat-avatars\"><img src=\"/static/img/user.jpg\" alt=\"头像\" /></div> </div> </div>");
                //发送后清空输入框
                $(".div-textarea").html("");
                //发送后清空输入框
                //聊天框默认最底部
                $(document).ready(function () {
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                });
            }
        });

        //      发送表情
        $("#chat-biaoqing").click(function () {
            $(".biaoqing-photo").toggle();
        });
        $(document).click(function () {
            $(".biaoqing-photo").css("display", "none");
        });
        $("#chat-biaoqing").click(function (event) {
            event.stopPropagation();//阻止事件
        });

        $(".emoji-picker-image").each(function () {
            $(this).click(function () {
                var bq = $(this).parent().html();
                var time2 = new Date().format("yyyy-MM-dd hh:mm:ss");
                console.log(bq);
                $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                    "<div class=\"author-name\"><small class=\"chat-date\">"+time2+"</small> </div> " +
                    "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                    "<div class=\"chat-avatars\"><img src=\"/static/img/user.jpg\" alt=\"头像\" /></div> </div> </div>");
                //发送后关闭表情框
                $(".biaoqing-photo").toggle();
                //聊天框默认最底部
                $(document).ready(function () {
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                });
            })
        });

        //      发送图片
        function selectImg(pic) {
            if (!pic.files || !pic.files[0]) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                var images = evt.target.result;
                var time1 = new Date().format("yyyy-MM-dd hh:mm:ss");
                $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                    "<div class=\"author-name\"><small class=\"chat-date\">time1</small> </div> " +
                    "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                    "<div class=\"chat-avatars\"><img src=\"/static/'img/head_portrait.png\" alt=\"头像\" /></div> </div> </div>");
                //聊天框默认最底部
                $(document).ready(function () {
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                });
            };
            reader.readAsDataURL(pic.files[0]);

        }
            /*var container = $('#chat'),
                scrollTo = $('.bubbleItem');
            container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop());*/
                 // 或者
                /*container.animate({
                      scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
                 });*/
        // {#$(".div-textarea").focus(function(){#}
        // {#    $("#associate").append("<p onclick='beginImg(this)'>你可能想问：</p>");#}
        // {#{)#}
        //监听input的输入框的输入检测，一旦有输入，调用补全搜索
        var hasanimate = false;
		$('.div-textarea').on('input',function(){

            if($(this).prop('comStart')){
                //当这里为true的时候，表示用户还在输入中文，不判断
                //alert('sd');
                return;
            }else{
                //当用户输入完成的时候
                //一旦开始输入检测，就调用输入检测的补完查询
			    //获取用户输入的值
                var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>');
                //console.log('输入完成'+textContent);
                var time1 = new Date().format("yyyy-MM-dd hh:mm:ss");
                var listwidth = $(".chatBox-content").width();
                var listheight = $(".chatBox-content").height()*0.48;
                $(".list-group").css({
                    "position":"absolute",
                    "display":"block",
                    "width":listwidth,
                    //"height":listheight,
                    "left":"0",
                    "bottom":"8%"
                });
                document.onclick = function(e) {
                    var ele = e ? e.target : window.event.srcElement;
                    if(ele.className !== 'list-group-item list-group-item-action'&&ele.className!=='list-group'&&ele.className!=='div-textarea'&&ele.className!=='chat-biaoqing'&&ele.id!=='chat-tuxiang') {
                        console.log(ele.className);
                        $(".list-group").css("display","none");
                        hasanimate = false;

                    }
                };
                if(!hasanimate) {
                    $(".list-group").animate({bottom: '8%'});//动画，从底部到52%处
                    hasanimate = true
                }else{
                    $(".list-group").css({
                    "position":"absolute",
                    "display":"block",
                    "width":listwidth,
                    //"height":listheight,
                    "left":"0",
                    "bottom":"8%"
                });
                }
                $.ajax({
                    url:'/completion_search/',
                    type:"POST",
                    data:{completion_Question:textContent},
                     success: function (data) {
                        data = JSON.parse(data);
                        //console.log(data)
                        $(".list-group").empty();//将原来的清除掉，重新联想
                        for (var i = 0; i < 5; i++) {//解析后台json数组
                            var jsonkey = ("question" + i).toString();
                            console.log('key'+data[jsonkey]);
                            if (data[jsonkey] != null) {
                                //console.log("你好");
                                $(".list-group").append("<a class=\"list-group-item list-group-item-action\"  onclick='beginImg(this)'>"+data[jsonkey]+"</a>");
                            }

                        }

                    },
                    error: function (data) {
                        console.log("出错啦！！！");

                    }
                });
                // {#$.ajax({#}
                // {#    url: '/completion_search/',#}
                // {#    type: "POST",#}
                // {#    data: {completion_Question: textContent},#}
                // {#    success: function (data) {#}
                // {#        data = JSON.parse(data);#}
                // {#        //console.log(data)#}
                // {#        $("#associate").empty();//将原来的清除掉，重新联想#}
                // {#        for (var i = 0; i < 5; i++) {//解析后台json数组#}
                // {#            var jsonkey = ("question" + i).toString();#}
                // {#            //console.log('key'+jsonkey);#}
                // {#            if (data[jsonkey] != null)#}
                // {#                $("#associate").append("<p onclick='beginImg(this)'>" + data[jsonkey] + "</p>");#}
                // {#        }#}
                // {##}
                // {#    },#}
                // {#    error: function (data) {#}
                // {#        console.log("出错啦！！！");#}
                // {##}
                // {##}
                // {#    }#}
                // {##}
                // {#{);#}
            }


	    }).on('compositionstart',function () {
	        //用户开始输入中文，这里设置不检测
            $(this).prop('comStart',true);
        }).on('compositionend',function () {
            //用户中文输入完成，开始检测
            //监听input的输入框的输入检测，一旦有输入，调用补全搜索
            //这里有点新东西，因为在中文输入法中，输入法开始选词的时候会触发compositionstart事件
            //在选词结束后会调用compositionend事件
            $(this).prop('comstart', false);
            var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>');
            //console.log('选字完成' + textContent);
            var time1 = new Date().format("yyyy-MM-dd hh:mm:ss");
            var listwidth = $(".chatBox-content").width();
            var listheight = $(".chatBox-content").height() * 0.48;
            $(".list-group").css({
                "position": "absolute",
                "display": "block",
                "width": listwidth,
                //"height": listheight,
                "left": "0",
                "bottom":"8%"
            });
            document.onclick = function (e) {
                var ele = e ? e.target : window.event.srcElement;
                if (ele.className !== 'list-group-item list-group-item-action' && ele.className !== 'list-group' && ele.className !== 'div-textarea' && ele.className !== 'chat-biaoqing' && ele.id !== 'chat-tuxiang') {
                    console.log(ele.className);
                    $(".list-group").css("display", "none");
                    hasanimate = false;
                }
            }

                if(!hasanimate) {
                    $(".list-group").animate({bottom: '8%'});//动画，从底部到52%处
                    hasanimate = true
                }else{
                    $(".list-group").css({
                    "position":"absolute",
                    "display":"block",
                    "width":listwidth,
                    //"height":listheight,
                    "left":"0",
                    "bottom":"8%"
                    });
                }
            $.ajax({
                url:'/completion_search/',
                type:"POST",
                data:{completion_Question:textContent},
                 success: function (data) {
                     data = JSON.parse(data);
                     //console.log(data)
                     $(".list-group").empty();//将原来的清除掉，重新联想
                     for (var i = 0; i < 5; i++) {//解析后台json数组
                         var jsonkey = ("question" + i).toString();
                         //console.log('key' + data[jsonkey]);
                         if (data[jsonkey] != null)
                             $(".list-group").append("<a class=\"list-group-item list-group-item-action\"  onclick='beginImg(this)'>"+data[jsonkey]+"</a>");
                     }

                 },
                error: function (data) {
                    console.log("出错啦！！！");

                }
            });
        });

        //用户点击选择某个具体的问题后，发送的准确问题查询
        function beginImg(imgcontent) {
            var imgdata = imgcontent.innerHTML;
            var time1 = new Date().format("yyyy-MM-dd hh:mm:ss");
            if (imgdata != "") {
                $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                    "<div class=\"author-name\"><small class=\"chat-date\">"+time1+"</small> </div> " +
                    "<div class=\"right\"> <div class=\"chat-message\"> " + imgdata + " </div> " +
                    "<div class=\"chat-avatars\"><img src=\"/static/img/user.jpg\" alt=\"头像\" /></div> </div> </div>");
                //发送后清空输入框
                $(".div-textarea").html("");
                //发送后清空输入框
                //聊天框默认最底部
                $(document).ready(function () {
                    $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
                });
            }
            $(".list-group").empty();

            // if(imgdata == '你好'){
            //     $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
            //         +time1+
            //         "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>"
            //         +'你也好啊'+
            //         "</div></div></div>").appendTo($("#chatBox-content-demo"));
            // }
            // 精确搜索
            $.ajax({
                url: '/accurate_search/',
                type: "POST",
                data: {accurate_Question: imgdata},
                success: function (data) {
                    $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                    +time1+
                    "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>"
                    +data+
                    "</div></div></div>").appendTo($("#chatBox-content-demo"));


                    // 精确搜索完成之后，调用联想搜索
                    console.log('调用联想搜索');
                    //推荐提问，你可能想问的是
                    $.ajax({
                        url: '/further_search/',
                        type: "POST",
                        data: {accurate_Question: imgdata},
                        success: function (data) {
                            data = JSON.parse(data);
                            //console.log(data);
                            if(data!=''){
                                $("<div class='clearfloat'><div class='author-name'><small class='chat-date'>"
                                    + time1 +
                                    "</small></div><div class='left'><div class='chat-avatars'><img src='/static/img/head_portrait.png' alt='头像'/></div><div class='chat-message'>您可能还对以下的问题感兴趣：<br></br><div class='maylist' id='"
                                    + time1.toString()
                                    + "'></div></div></div></div></div>").appendTo($("#chatBox-content-demo"));
                                for (var i = 0; i < 5; i++) {
                                    var akey = ("question" + i).toString();
                                    $("<a onclick='beginImg(this)'>"
                                        + data[akey] +
                                        "</a><br></br>").appendTo(document.getElementById(time1.toString()));

                                }
                                $("<p> 如果您都不感兴趣的话，可以重新搜索哦！ </p>").appendTo(document.getElementById(time1.toString()));
                            }
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });



                },
                error: function (data) {
                    console.log(data)
                }
            });

            // 存入数据库
            $.ajax({
                url: '/userQuestion/',
                type: "POST",
                data: {userQuestion: imgdata},
                success: function (data) {
                    console.log('存入数据库成功')
                },
                error: function (data) {
                    console.log('存入数据库失败')
                }
            });


        }

        function mayask(e){
            var mask = e.children;
            beginImg(mask[0]);
            console.log(mask[0].innerHTML);
        }

        window.onload=function () {
            $.ajax({
                url:'/usermayask/',
                type:"POST",
                success:function (data) {
                    data = JSON.parse(data);
                    var marks = $(".leaderboard").find("mark");
                    var count = $(".leaderboard").find("small");

                    for(var i=0;i<marks.length;i++){
                        var maysak_jsonkey = ("mayask"+(i)).toString();
                        var count_jsonkey = ("count"+(i)).toString();
                        if(data[maysak_jsonkey]!=null) {
                            marks[i].innerHTML = data[maysak_jsonkey];
                            count[i].innerHTML = data[count_jsonkey];
                        }
                    }

                }
            });
        }
       </script>
</body>
</html>